<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DashBoard CEGEFOS</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/calculImc.css" />
</head>

<body>
    
    <div class="container-fluid justify-content-center text-center">
        <h1>Calcul de l'IMC</h1>
        <form id="#IMCForm" class="justify-content-center" method="POST">
            <div class="row justify-content-center text-center">
                <div class="col-2"><label>Nom: </label></div>
                <div class="col-2"><input type="text" name="nom" id="" value="<%= nom %>"></div>
            </div>
            <div class = "row justify-content-center text-center">
                <div class="col-2"><label>Taille (en cm): </label></div>
                <div class="col-2"><input type="number" name="tailleCm" id="tailleCm" value="<%= tailleCm %>"></div>
            </div>
            <div class = "row justify-content-center text-center">
                <div class="col-2"><label>Poids (en kg):  </label></div>
                <div class="col-2"><input type="number" name="poidsKg" id="poidsKg" value="<%= poidsKg %>"></div>
            </div>
            <button type="submit" id="#btn">Calculer</button>
        </form>
    <!-- </div> -->

    <!-- <div class="container"> -->
        <div class="row justify-content-center text-center">
            <div class="col-4">
                <h3>Résultat du calcul:</h3>
                <h4 class="row" id="utilisateur"><%= resultatUser %></h4>
    
                <p class="row" id="resultatIMC"><%= resultatIMC %></p>
        
                <p class="row" id="resultatCORP"><%= resultatCORP %></p>
        
                <img class="row" id="resultatIMG" src="<%= image %>" >
            </div>
            <div class="col-6"> 
                <h3>Liste des derniers calculs</h3>
                <ul>
                    <% listIMC.forEach(function(imclus) { %>
                        <li id="nomlus"><%= imclus.nom %> - <%= imclus.tailleCm %>cm - <%= imclus.poidsKg %>Kg - <%= imclus.IMC %> - <%= imclus.created_date %></li>
                    <% }); %>
                </ul>
            </div>
        </div>

        

    <!-- </div> -->
    <!-- <div class="container"></div> -->


    </div>

</body>

<footer>
    <nav class="navbar navbar-expand-lg navbar-light bg-light footer" routerLinkActive="active">
        <div class="container-fluid">
            <div class="col-lg-1"><a href="/" >Accueil</a></div>
            <% if ( session.active === true ) { %>
                <div class="col-lg-1"><a href="/calculImc">Calcul IMC</a></div>
                <div class="col-lg-1"><a href="/convDevise">Convertisseur Devise</a></div>
                <div class="col-lg-1"><a href="/listPosts">Posts</a></div>
                <div class="col-lg-1"><a href="/newPost">Nouveau post</a></div>
                <div class="col-lg-1">
                    <form method="POST" action="/deconnexion">
                        <button type="submit" class ="mb-2" style="border: solid grey; background-color:red" name="deconnexion">Déconnexion</button>
                    </form>
                </div>
            <% } else { %>
                <div class="col-lg-1"><a href="/inscription">Inscription</a></div>
                <div class="col-lg-1"><a href="/connexion">Connexion</a></div>
            <% } %>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
</footer>
</html>