<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DashBoard CEGEFOS</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/listPosts.css" />
    
</head>

<body>
    <% for (var k = 0; k < listPosts.length; k++) {
        var post = listPosts[k]; %>
        <div class="container-fluid mt-2">
            <!-- Permet de gérer la conleur du fond en fonction de l'appréciation du post -->
            <% if (post.loveit < 1) { %>
                <div class="container mb-2" style="border: solid grey; background-color:rgb(241, 148, 148)">
            <% } else { %>
                <div class="container mb-2" style="border: solid grey; background-color:rgb(187, 250, 185)">
            <% } %>

            <!-- Contenu du Post -->
                <div class="row">
                    <div><h4 style="float:left">Titre: <%= post.titre %></H4><p style="float:right" ><%= post.date %></p></div>
                </div>
                <div class="row">
                    <p><%= post.content %></p>
                </div>
                <div class="row">
                    <p>Love it : <%= post.loveit %></p>
                </div>  
                <div class="row">
                    <div class="col-8">
                        <form method="POST" >
                            <button type="submit" class ="mb-2" style="border: solid grey; background-color:green" name="love" value="<%= k %>">Love it!</button>
                            <button type="submit" class ="mb-2" style="border: solid grey; background-color:red" name="dontlove" value="<%= k %>">Don't Love it!</button>
                        </form>
                    </div>
            
                    <div class="col-2">
                        <form method="POST" action="/ListPosts/<%- k %>?_method=DELETE" >
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class ="mb-2" style="border: solid grey; background-color:rgb(140, 143, 143)" name="delete" value="<%= k %>">Suppression</button>
                        </form>
                    </div>
                    <div class="col-2">
                        <form method="GET" action="/ListPosts/<%- k %>?_method=GET">
                            <input type="hidden" name="_method" value="GET">
                            <button type="submit" class ="mb-2" style="border: solid grey; background-color:rgb(43, 174, 250)" name="GET" value="<%= k %>">Mise à jour</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    <% } %>

</body>

<footer>
    <nav class="navbar navbar-expand-lg navbar-light bg-light footer" routerLinkActive="active">
        <div class="container-fluid">
            <div class="col-lg-1"><a href="/" >Accueil</a></div>
            <% if ( session.active === true ) { %>
                <div class="col-lg-1"><a href="/calculImc">Calcul IMC</a></div>
                <div class="col-lg-1"><a href="/convDevise">Convertisseur Devise</a></div>
                <div class="col-lg-1"><a href="/listPosts">Posts</a></div>
                <div class="col-lg-1"><a href="/newPost">Nouveau post</a></div>
                <div class="col-lg-1">
                    <form method="POST" action="/deconnexion">
                        <button type="submit" class ="mb-2" style="border: solid grey; background-color:red" name="deconnexion">Déconnexion</button>
                    </form>
                </div>
            <% } else { %>
                <div class="col-lg-1"><a href="/inscription">Inscription</a></div>
                <div class="col-lg-1"><a href="/connexion">Connexion</a></div>
            <% } %>

        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
</footer>
</html>